<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap_phpunit.php"
         cacheTokens="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="core">
            <directory suffix=".php">tests</directory>
        </testsuite>
        <testsuite name="banestes">
            <directory suffix=".php">tests/OpenBoleto/Banco/Banestes</directory>
        </testsuite>
    </testsuites>
</phpunit>